/**
 * CSS Document
 */
 
 
table.pl2_multi{
	border-collapse: collapse;
	border: 1px solid #e8eef7;
	width: 0;
}	
 
table.pl2_mono{
	border-collapse: separate;
	border-spacing: 2px;
	border: 1px solid #e8eef7;
	width: 0;
}	

table.pl2_mono_multi{
	height: 100%;
}
 
td.pl2_gap_partial{
	background: none repeat scroll 0 0 #FFFFCC;
	border: 1px solid #EEAC00;
	overflow: auto;
	padding: 1px;
}

td.pl2_gap_full{
	background: none repeat scroll 0 0 #FFFFCC;
	border: 1px solid #EEAC00;
	overflow: auto;
	padding: 1px;
}

div.pl2_no_gap{
}

td.pl2_horaires {
     background: none repeat scroll 0pt 0pt #E8EEF7;
     border-bottom: medium none #FFFFFF;
     border-color: #FFFFFF;
     font-weight: bold;
     text-align: right;
     height: 100%;
     width: 0;
}

th.pl2_gap_name{
    background: none repeat scroll 0 0 #E8EEF7;
    border-bottom: medium none #FFFFFF;
    border-color: #FFFFFF;
    font-weight: bold;
}

td.pl2_multi {
     vertical-align: top;
     height: 100%;
}

div.pl2_horaires {
     text-align: right;
     position: relative;
     height: 100%;
     min-height: 25px;
}
