/* Copyright 2004-2006
 * - Maxime Petazzoni <maxime POINT petazzoni CHEZ bulix POINT org>
 * - Alexandre Belloni <alexandre POINT belloni CHEZ utbm POINT fr>
 * - Thomas Petazzoni <thomas POINT petazzoni CHEZ enix POINT org>
 * - Pierre Mauduit <pierre POINT mauduit CHEZ utbm POINT fr>
 * - Julien Etelain <julien AT pmad POINT net>
 * - Simon Lopez <simon POINT lopez AT ayolo POINT org>
 *
 * Ce fichier fait partie du site de l'Association des étudiants de
 * l'UTBM, http://ae.utbm.fr.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
 * 02111-1307, USA.
 */

/*
 * Généralités
 */
*
{
  font-size: 12px;
  line-height:110%;
  font-family: sans-serif;
}

input.isubmit
{
	background: #d8e7f3 url("../../../images/linkTransparent.gif") 3px no-repeat;
	padding-left: 10px;
}

body
{
  background: #eff7ff;
  margin: 0;
  padding: 0;
}

a
{
  text-decoration: none;
  color: #006;
}

a:hover
{
  text-decoration: underline;
}

tt
{
  font-family: monospace;
}

img
{
  border: 0;
}

form
{
  margin: 0;
  padding: 0;
}

input
{
  border: 1px #364970 solid;
  background: white;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
}

input.radiobox
{
  border: 0;
  background: none;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
}

input.chkbox
{
  border: 0;
  background: none;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
}

textarea
{
  border: 1px #364970 solid;
  background: white;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
}

input.connect
{
  width: 95%;
}

input.connectsubmit
{
  background: #d8e7f3 url("../../../images/linkTransparent.gif") 3px no-repeat;
  padding-left: 9px;
}

p.error
{
  color: red;
  font-weight: bold;
}

.clearboth
{
	clear: both;
}

#logo
{
  padding: 0.2em 0 0 1em;
  background: #336699;
}

div.important p
{
  margin: 0;
  padding: 0.5em;
}

/**
 * Listes non ordonnées
 * TODO: Verifier le rendu sous IE et FF dans les boites et les articles
 */
ul
{
	list-style-image: url("../images/list-arrow.png"); 
	list-style-position: outside;
	margin: 0 0 0 13px; 
	padding: 0;
	padding-left:0.5em;
}

ul li.ok
{
	list-style-image: url("../images/list-arrow_ok.png");
	margin-bottom:0;
}

ul li.ko
{
	list-style-image: url("../images/list-arrow_ko.png");
	margin-bottom:0;
}

ul li.info
{
	list-style-image: url("../images/list-arrow_info.png");
	margin-bottom:0;
}

/*
 * Onglets principaux (header)
 */

div.tabsv2
{
	height:21px;
	padding-left:2em;
	padding-right:2em;
	overflow:hidden;
	background:url("../images/tabs-fond.jpg");
}

div.tabsv2 span 
{
	float:left;
	background:url("../images/tabs-norm-st.jpg");
	height:21px;
	font-size: 12px;
	padding-left:8px;
	margin:0;
	border:0;	
	color:black;
}

div.tabsv2 span a
{
	float:left;
	background:url("../images/tabs-norm.jpg");
	height:21px;
	padding-right:18px;
	padding-left:5px;
	background-repeat: no-repeat;
	background-position: right top;
	vertical-align:bottom;
	line-height:25px;
	text-decoration: none;
}

div.tabsv2 span:hover
{
	background:url("../images/tabs-cur-st.jpg");
}

div.tabsv2 span:hover a
{
	background:url("../images/tabs-cur.jpg");
	background-repeat: no-repeat;
	background-position: right top;
}

div.tabsv2 span.selected
{
	background:url("../images/tabs-cur-st.jpg");
}

div.tabsv2 span.selected a
{
	background:url("../images/tabs-cur.jpg");
	background-repeat: no-repeat;
	background-position: right top;
}

div.tabsv2 span.tabbdf 
{
  float:right;
	background:url("../images/tabs-bdf-norm-st.jpg");
}

div.tabsv2 span.tabbdf a
{
	background:url("../images/tabs-bdf-norm.jpg");
	background-repeat: no-repeat;
	background-position: right top;
  color:#ffffff;
  letter-spacing:1px;
}

div.tabsv2 span.selected.tabbdf
{
  
	background:url("../images/tabs-bdf-cur-st.jpg");
}

div.tabsv2 span.selected.tabbdf a
{
	background:url("../images/tabs-bdf-cur.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	color:#000000;
}


/*
 * Liens rapide sous les onglets principaux 
 */
div.sectionlinks
{
	padding-top: 0.25em;
	text-align: center;
	border-bottom: 1px solid #d8e7f3;
}

div.sectionlinks a
{
	padding-right: 1em;
	padding-left: 1em;
	color: #000;
}

/*
 * Substitution en cas d'absence de liens rapide sous les onglets principaux
 */
div.emptysectionlinks
{
	padding-top: 0.25em;
}

/*
 * Boite conteneur 
 * TODO: Verifier l'interet
 */
div.contents
{
  padding-top: 1.25em;
  padding-bottom: 0;
}

/**
 * Colones de boites
 */
#left
{
  position: absolute;
  left: 1em;
  top: 9em;
  width: 16em;
}

#right
{
  position: absolute;
  right: 1em;
  top: 9em;
  width: 16em;
}

/**
 * Partie centrale
 */
div.page
{
  margin: 0;
  padding: 0;
  width: auto;
}

div.page#lr
{
  margin: 0 18em;
}

div.page#r
{
  margin-left: 2em;
  margin-right: 18em;
}

div.page#l
{
  margin-left: 18em;
  margin-right: 2em;
}

div.page#n
{
  margin: 0 2em;
}

/*
 * Boites des colonnes
 */
div.box
{
  position: relative;
  margin-bottom: 1em;
  padding-top:0.75em;
  width: 192px;
  background: url("../images/box-core.png");
	background-repeat: no-repeat;
	background-position: top left;
}

/* Titre de la boite */
div.box h1
{
  border: 0;
  border-bottom: 0px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2px;
  height: 1.2em;
  font-size: 100%;
  display: inline;
  position:relative;
}

div.box h1 a
{
  cursor:move;
  color: #000;
}

div.box h1 a:hover
{
  text-decoration: none;
}

/** Corps de la boite */
div.box div.body
{
	margin:0;
	border:0;
	padding: 8px;
	position:relative;
	background-image: url("../images/box-bottom.png");
	background-repeat: no-repeat;
	background-position: bottom left;
}

div.box p
{
  margin: 0px;
}

div.box ul.boxlist
{
  margin: 0px;
  margin-bottom: 0.75em;
  padding-left: 0px;
  list-style-position: inside;
}

div.box div.body div.fastsearch h2
{
  list-style: none;
  margin-bottom: 0.3em;
  margin-top: -2px;
}

div.box div.body div.fastsearch input.isubmit
{
  list-style: none;
  float: right;
  border-top:0;
  border-left:0;
}

div.box div.body div.fastsearch a
{
   text-decoration: none;
   font-weight: normal;
}

div.box div.body div.boxlist h2
{
  list-style: none;
  border-bottom: 1px black dashed;
  margin-bottom: 0.3em;
}

div.box div.body div.boxlist a
{
   text-decoration: none;
   font-weight: normal;
   /*color: black;*/
}

div.box ul.annif li.title
{
  list-style: none;
  border-bottom: 1px black dashed;
  margin: 1em 0 0.3em 0;
}

div.box ul.boxnewslist
{
  margin: 0px;
  margin-bottom: 0.25em;
  padding-left: 0px;
  list-style: none;
}

div.box ul.boxnewslist li
{
  margin-bottom: 0.2em;
}

div.box ul.boxlist li
{
	padding-left:10px;
}

div.box ul.annif li
{
	padding-left:0;
}

div.box ul.boxlist li.title
{
  list-style: none;
  list-style-image: none;
  list-style-position: inside;
  border-bottom: 1px black dashed;
  margin-bottom: 0.3em;
  padding-left:0;
}

div.box h2
{
	background:url("../images/box-h2.png");
	height:15px;
	padding-top:3px;
	padding-left:5px;
	color:#000;
}


div.box h2.epure
{
	background:none;
	height:auto;
	padding:0;
	color:#000;
  list-style: none;
  border-bottom: 1px black dashed;
}


div.box h2 a
{
	color:#000;
}

div.box div.body div.boxlist h2
{
  border-bottom: none;
}

div.box div.body ul
{
  margin-bottom:0px;
}

div.box input.isubmit
{
	background: #d8e7f3 url("../../../images/linkTransparent.gif") 3px no-repeat;
	padding-left: 10px;
}

/**
 * Articles (corps de page)
 */
div.article
{
  border: 1px solid #c0c0c0;
  background: white;
  padding: 1em;
  margin-bottom: 1em;
	clear: both;
	position:relative;	
}
  
div.article a
{
  font-size: 100%;
}

div.article h1
{
  margin-top: 0;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
  font-size: 150%;
  border-bottom: 1px black solid;
}

div.article h2
{
  font-size: 130%;
  padding-bottom: 0.2em;
  border-bottom: 1px #c0c0c0 solid;
  margin-bottom: 1em;
  margin-top: 2em;
}

div.article div.level2
{
  margin-left:0.2em;  
}

div.article h3
{
  font-size: 110%;
  border-bottom: 1px #c0c0c0 solid;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-left:1em;
}

div.article div.level3
{
  margin-left:1.2em;  
}

div.article img
{
	vertical-align: middle;
	border:0px;
}

div.article img.imgleft
{
  float: left;
  margin: 5px;
  margin-right: 10px;
  position:relative;
}

div.article img.imgright
{
  float: right;
  margin: 5px;
  margin-left: 10px;
  position:relative;
}

div.article p
{
  text-align: justify;
  margin: 0;
  padding: 0;
  
  margin-bottom: 1em;
  margin-top: 1em;
}

div.article ol, div.article ul
{
  margin-bottom: 1em;
  margin-top: 1em;
}

div.article li
{
  margin-bottom: 0.3em;
  margin-top: 0.2em;
}

div.article p.center
{
  text-align: center;
}

.center
{
  text-align: center;
}

.justify
{
  text-align: justify;
}

.justify:first-letter
{
	font-weight: bold;
	color: #006;
	font-size: 3em;
	float: left;
	padding-right: 1px;
	font-style: oblique;
}

div.article ul
{
  list-style-position: inside;
  
}

/* Gestion des tableaux dans les articles pour generer des listes
   d'elements */
div.article table.liste {
	width: 95%;
	border: 1px #364970 solid;
	border-collapse: collapse;
  margin: 1em auto;
}

div.article table.liste td {
	border: 1px #364970 solid;
	border-spacing: 0px;
	margin: 0px;
  padding: 1px;
}

div.article table.liste th {
	font-weight: bold;
}

div.article table.liste tr.error {
  color: red;
	font-weight: bold;
}

div.article table.liste td.info {
  color: blue;
}

div.article table.liste tr.credit {
  color: blue;
}

div.article table.liste tr.debit {
  color: green;
}

div.article table.liste tr.header {
	font-weight: bold;
}

/* Pour afficher en tr\x{FFFD}s gros et tr\x{FFFD}s lisible */
div.article p.huge {
  font-weight: bold;
  font-size: 300%;
}

/* pour la kfet, on affiche la commande en gros */
div.article table.commande {
  border: 1px #364970 solid;
  border-collapse: collapse;
  font-size: 200%;
}

div.article table.commande td {
  font-size: 200%;
}
div.article table.commande tr.total {
  border-top: 1px #364970 solid;
  font-weight: bold;
}

div.article table.photos
{
  width: 100%;
}

div.article table.photos thead td
{
  width: 50%;
  font-weight: bold;
  border-bottom: 1px black solid;
  margin-bottom: 0.5em;
}

div.article table.photos tbody td
{
  width: 50%;
  text-align: center;
}

/* En dessous de chaque nouvelle ou de chaque \x{FFFD}v\x{FFFD}nement, il y a une
   signature avec le nom de l'auteur, le mail, la date d'envoi ... */
div.news-footer {
  margin-top: 1em;
  clear: both;
}

div.news-footer p {
  text-align: right;
  font-size: 80%;
}

div.news-footer a.link {
  font-size: 100%;
}

/*
 * Calendrier
 */
div.calendarhead
{
  text-align: center;
  margin-bottom: 0.5em;
  width:14.5em;
}

div.calendarhead td.month
{
  text-align: center;
  border-bottom: 1px #364970 solid;
  font-weight: bold;
  padding: 2px;
}

div.calendarhead td.weekday
{
  padding: 1px;
  width: 14%;
  text-align: center;
  font-size: 80%;
}

div.calendar
{
  background: #ffffff;
  text-align: center;
  padding: 1px;
	width:14.5em;  
}

div.calendar td
{
  margin: 2px;
  width: 14%;
  padding: 3px;
  text-align:center;
}

div.calendar td.active
{
  border: 2px #364970 solid;
  font-weight: bold;
}

div.calendar td.event1
{
  background: #ffcc2a;
}

div.calendar td.event2
{
  background: #FFE48E;
}

div.calendar td.event3
{
  background: #FFF1C5;
}

/* 
 * Evenements du calendrier
 */
dl.event
{
  border: 1px #364970 solid;
  background: #ffcc2a;
  position: absolute;
  text-align: left;
  padding: 3px;
  width: 15em;
  z-index: 10000;
  margin: 0.5em 0 0 0;
  list-style: none;
  display: none;
}

dl.event dt
{
  font-weight: bold;
  font-size: 11px;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.2em;
  text-decoration: underline;
}

dl.event dd
{
  border: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
  margin-bottom: 0.3em;
}

table.caddie
{
  border: 1px #364970 solid;
  background: #eff7ff;
  margin: auto;
  width: 95%;
  padding: 0px;
  border-collapse: collapse;
}

table.caddie td
{
  padding: 0.1em;
  border: 1px #364970 solid;
}

table#sa-items
{
  vertical-align: top;
}

table#sa-items td
{
  border: 1px #364970 solid;
  background: #eff7ff;
  padding: 0.5em;
  vertical-align: top;
}

table#sa-items td h5
{
  border-bottom: 1px black solid;
  margin: 0;
  margin-bottom: 1em;
}

/*
 * Formulaires au sein d'un article (cadre au centre)
 */
div.article div.form
{
	margin:0;
	padding:0;
	border:0;
	clear: both;
}

div.article div.formrow
{
	margin:0;
	padding:1px;
	border:0;
	position:relative;
}

div.article div.formfield
{
	margin:0;
	padding:0;
	border:0;
	margin-left:20%;
}

div.article div.formlabel
{
	margin:0;
	padding:0;
	border:0;
	position:absolute;
	top:2px;
	height:1em;
	width:20%;
	overflow:hidden;
}

div.article div.fullrow
{
	margin:0;
	padding:1px;
	border:0;
}

div.article div.formlabel.missing
{
	color: red;
}

div.article div.formrow input
{
	vertical-align: middle;
}

div.article div.formrow img
{
	vertical-align: middle;
}

/*
 * Completion des les formulaires
 */
div.autocomplete_area ul
{
	margin:0;
	padding:0;
	border:0;
	list-style:none;
}

div.autocomplete_area a
{	
	color: black;
}

div.autocomplete_area
{
	width:auto;
	margin:0.25em;
	margin-top:0;
	border:1px solid black;
	padding:0.25em;
	background:#ffcc2a;
	display: none;
}

div.autocomplete_area ul.smartlist_user li
{
	border-bottom: 1px solid black;
	padding: 2px;
}

div.autocomplete_area ul.smartlist_user li img
{
	vertical-align: middle;
}

/*
 * Sous-formulaires
 */
div.subform
{
	padding-left:2em;
	margin:2px;
}

div.fullrow div.subformlabel
{
	margin:0;
	padding:1px;
	border:0;
	font-weight:bold;
	margin-bottom:4px;
}

div.linedrow div.subformlabel
{
	margin:0;
	padding:1px;
	border:0;
	width: auto;
	font-weight:normal;
	display:inline;
}

div.subforminline
{
	display:inline;
}

div.subforminline div.linedrow
{
	display:inline;
}


div.subforminline div.formfield
{
	display:inline;
	width:auto;
	margin-left:0px;
}

div.subforminline div.formlabel
{
	display:inline;
	width: auto;
	position:static;
}

div.subforminline div.formrow
{
	display: inline;
	width: auto;
	float:none;
	clear: none;
}



/*
 * Formulaires particuliers
 */
form#setgroups div.formlabel
{
	width: 0;

}

/*
 * Mise en forme des formulaires
 */
div.formfield :focus
{
	border-color:#ffcc2a;
}

p.formerror
{
	color: red;
	font-weight: bold;
}

/*
 * Image d'une fiche
 */
img.fiche_image
{
	float: left;
	width: 80px;
	margin-right: 0.5em;
	margin-bottom:0.5em;
	margin-top:0.2em;
	position:relative;
}

/*
 * Toolbox (boite d'outils associé à un stdcontents)
 * (défini entre le titre et le contenu)
 */
div.toolbox
{
	float: right;
	position:relative;
	top:0.5em;
	padding: 0.2em;
	font-size: 100%;
	background: #d8e7f3;
	border: 1px #364970 solid;	
}

div.toolbox a
{
	font-size: 10px;
}

/*
 * Onglets au sein d'un article 
 */
div.article div.tabs
{
	padding: 0;
	margin: 0;
	border: 0;
	height:21px;
	padding-left:2em;
	overflow:hidden;
	background:url("../images/core-tabs-fond.png");
	margin-bottom:0.5em;
}

div.article div.tabs span
{
	float:left;
	background:url("../images/core-tabs-norm-st.png");
	height:21px;
	font-size: 12px;
	padding-left:8px;
	margin:0;
	border:0;
	color:black;
}

div.article div.tabs span a
{
  text-transform: lowercase;
	padding: 0;
	margin: 0;
	border: 0;
	float:left;
	background:url("../images/core-tabs-norm.png");
	height:21px;
	padding-right:18px;
	padding-left:5px;
	background-repeat: no-repeat;
	background-position: right top;
	vertical-align:bottom;
	line-height:25px;
	text-decoration: none;
}

div.article div.tabs span a:hover
{
	background:url("../images/core-tabs-norm.png");
	background-repeat: no-repeat;
	background-position: right top;
}

div.article div.tabs span:hover
{
	background:url("../images/core-tabs-cur-st.png");
}

div.article div.tabs span:hover a
{
	background:url("../images/core-tabs-cur.png");
	background-repeat: no-repeat;
	background-position: right top;
}

div.article div.tabs span.selected
{
	background:url("../images/core-tabs-cur-st.png");
}

div.article div.tabs span.selected a
{
	background:url("../images/core-tabs-cur.png");
	background-repeat: no-repeat;
	background-position: right top;
}

/*
 * Affichage plan comptable (dans la compta)
 */
table.plct
{
	border-collapse:collapse;
}

tr.plct1 td
{
	font-size: 150%;
	border-bottom: 1px #364970 solid;
	padding-top:1em;
}

tr.plct2 td
{
	font-size: 120%;
	border-bottom: 1px #364970 dashed;
	padding-top:0.5em;
}

tr.plct3 td
{
	padding-top:0.3em;
}

tr.plct4 td
{
	padding-top:0.3em;
}

img.icon
{
	vertical-align: middle;
	border:0px;
}

/*
 * Affichage des donnés SQL
 */
table.sqltable
{
	border-collapse:collapse;
	border-right: 1px #d8e7f3 solid;
	border-top: 1px #d8e7f3 solid;
	border-bottom: 1px #d8e7f3 solid;
}

tr.head
{
	background: #d8e7f3;
}

table.sqltable th
{
	background: #d8e7f3;
}

tr.ln0
{
	background: #eff7ff;
}

table.sqltable td
{
	border-left: 1px #d8e7f3 solid;
	padding: 2px;
}

/*
 * Tables de type standard
 */
table.ctstable
{
	border-collapse:collapse;
	border-right: 1px #d8e7f3 solid;
	border-top: 1px #d8e7f3 solid;
	border-bottom: 1px #d8e7f3 solid;
	margin-left: auto;
	margin-right: auto;
}

/*
 * Onglets légés, utilisé nottament dans le carnet d'adresse
 */
div.article div.tabs_lg
{
  padding: 0;
  padding-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background: #ffffff;
	border-bottom: 1px solid #364970;
}

div.article div.tabs_lg a
{
  background: #d8e7f3;
  height: 1.2em;
  text-transform: lowercase;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 2px;
  margin-left: 0.1em;
  margin-right: 0.1em;
  border: 1px #364970 solid;
}

div.article div.tabs_lg a.selected
{
  background: #ffffff;
  border-bottom-color: #ffffff;
}

div.article div.tabs_lg a:hover
{
  background: #ffffff;
  text-decoration: none;
}

/*
 * Onglets au sein d'un article (cadre au centre)
 */
div.article div.tabs_bottom
{
	padding: 0;
	padding-left: 0.9em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background: #ffffff;
	border-top: 1px solid #364970;
	padding-top: 0.1em;
	clear:both;
	line-height:normal;
}

div.article div.tabs_bottom a
{
  background: #d8e7f3;
  height: 1.2em;
  text-transform: lowercase;
  margin-top:0;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  border: 1px #364970 solid;
  -moz-border-radius: 0em 0em 0.30em 0.30em;
  padding-top: 0.1em;
}

div.article div.tabs_bottom a.selected
{
  background: #ffffff;
  border-top-color: #ffffff;
}

div.article div.tabs_bottom a:hover
{
  background: #ffffff;
  text-decoration: none;
}

div.article div.tabs_top
{
	padding: 0;
	padding-left: 0.9em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	background: #ffffff;
	border-bottom: 1px solid #364970;
	padding-bottom: 0.1em;
	clear:both;
	line-height:normal;
}

div.article div.tabs_top a
{
  background: #d8e7f3;
  height: 1.2em;
  text-transform: lowercase;
  margin-bottom:0;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  border: 1px #364970 solid;
  -moz-border-radius: 0.30em 0.30em 0em 0em;
  padding-bottom: 0.1em;
}

div.article div.tabs_top a.selected
{
  background: #ffffff;
  border-bottom-color: #ffffff;
}

div.article div.tabs_top a:hover
{
  background: #ffffff;
  text-decoration: none;
}

/*
 * News en première page
 */
div.news
{
	padding: 0;
	margin: 0;
}

div.news div.newsitem
{
	clear: both;
	overflow:hidden;
	padding: 0.5em;
	margin:0;
	border:0;		
	margin-bottom:0.1em;
	font-weight: bold;
}

div.news span.newsdate
{
	font-size: 80%;
	font-weight: normal;
	font-style: italic; 
}

div.news div.newsleft
{
	font-size: 90%;
	font-weight: normal;
}

div.news span.resume
{
	font-weight: normal;
}

div.news div.first
{
	padding-bottom:0.2em;
	background-color:transparent;
}

div.news div.altfirst
{
	padding-bottom:0.2em;
}

div.news_top
{
	width:100%;
}

div.news_top h2
{
	margin-top: 0;
	margin-bottom: 0.2em;
	padding-left: 0.2em;
	border-bottom: 1px dashed #364970;
	border-left: 1px dashed #364970;
	font-size: 120%;
}

div.news_top a
{
	color:black;
	font-size:100%;
}

div.news_left h2
{
	margin-bottom: 0.2em;
	padding-left: 0.2em;
	border-bottom: 1px dashed #364970;
	border-left: 1px dashed #364970;
	font-size: 120%;
}

div.news_left a
{
	color:black;
	font-size:100%;
}

div.news_right h2
{
	margin-bottom: 0.2em;
	padding-left: 0.2em;
	border-bottom: 1px dashed #364970;
	border-left: 1px dashed #364970;
	font-size: 120%;
}

div.news_right a
{
	color:black;
	font-size:100%;
}

div.news_left
{
	width:49%;
	float:left;
}

div.news_right
{
	width:49%;
	float:right;
}

div.news_line
{
	width:100%;
	clear: both;
}

/*
 * Affichage d'une nouvelle
 */
div.article img.newsimg
{
  float: left;
  margin-right: 10px;
  max-height:6em;
  position:relative;
}

div.news img.newsimg
{
	float: left;
	max-height:4em;
	margin-right: 1em;
	position:static;
}

div.navbox
{
	float:right;
	position:relative;
	top: -5px;
}

/*
 * Affichage des sondages
 */
div.activebar
{
	float:left;
	background:#336699;
	height:1em;
	margin-bottom: 0.4em;
	position:relative;	
}

div.inactivebar
{
	float:left;
	background: #eff7ff;
	height:1em;
	margin-bottom: 0.4em;
	position:relative;	
}

div.percentbar
{
	float:left;
	width: 40px;
	height:1em;
	text-align: right;
	margin-bottom: 0.4em;
	position:relative;	
}

p.nbvotes
{
	font-size:80%;
}

/*
 * Affichage matmatronch
 */
 
#setphotos .formrow
{
  clear:both;  
}
 
#setphotos .formrow#mmt_row
{
	width:49%;
	float:left;
	position:static;
	clear:none; 
}

#setphotos .formrow#idt_row
{
	width:49%;
	float:right;
	position:static;
	clear:none; 
} 

#blouse_row
{
	width:45%;
} 

#setphotos div.subform
{
	padding-left:0em;
}

#idt_row div.formlabel
{
	width:4em;
}

#setphotos img
{
	margin-left:3em;
}

/*
 * Elections
 */
table.elections
{

}

table.elections td
{
	text-align: center;
	width: 150px;
	vertical-align:top;
}

table.elections div.candidat
{
	width: 150px;
	margin-bottom:5px;
}

table.elections div.candidat img
{
	width: 80px;
}

td.moneycell
{
	text-align:right;
}

/*
 * Recherche rapide
 */
#fsearchbox
{
  position: absolute;
  top: 3px;
  right: 0;
  width:250px;
  height:35px;
  padding-top:15px;
  padding-left:45px;
  padding-right:25px;
	background-image:url("../images/site-fsearchbox.jpg");
	background-repeat: no-repeat;
	background-position: left top;  
}

html * > #fsearchbox
{
  width:180px;
  height:35px;
  padding-top:15px;
  padding-left:45px;
  padding-right:25px;
}

#fsearchbox input
{
	width:100%;
	border-color:#c0c0c0;
}

#fsearchbox form
{
	padding:0;
	margin:0;
	border:0;
}

#fsearchres
{
  position: absolute;
  top: 3em;
  right: 11px;
  width:32em;
  display:none;
  background:#ffffff;
  border:1px solid #c0c0c0;
  padding:0.5em;
}

#fsearchres h2
{
	border-bottom: 1px black solid;	
}

#fsearchres ul
{
	margin-left: 2em;
}

#fsearchres ul li
{
	clear:both;
}

#fsearchres ul li div.imguser
{
	float:right;
	width:28px;
	height:30px;
	background:#c0c0c0;
	overflow:hidden;
	margin:1px;
}

#fsearchres ul li div.imguser img
{
	width:28px;
}

#fsearchres p.more
{
  clear:both;
	text-align:right;
}

#fsearchblock ul li
{
	clear:both;
}

#fsearchblock ul li div.imguser
{
	float:right;
	width:28px;
	height:30px;
	background:#c0c0c0;
	overflow:hidden;
	margin:1px;
}

#fsearchblock ul li div.imguser img
{
	width:28px;
}

#fsearchblock p.more
{
	clear:both;
	text-align:right;
}

/*
 * Meteo
 */
div.meteoday
{
	background:#fff;
	padding:0.5em;
	margin-bottom:0.5em;
	position:relative;
}

div.meteoday div.weather
{
	width:32px;
	height:32px;
	float:left;
	position:relative;
}

div.meteoday div.weather img
{
	width:32px;
	height:32px;
	position:relative;
}

div.meteoday div.day
{
	text-align:center;
	width:10em;
	height:1em;
	background:#fff;
	margin-left:40px;
}

div.meteoday div.tempmax
{
	width:5.5em;
	height:1em;
	float:right;
	background:#ffc0c0;	
	padding:0.25em;
	margin-top:0.5em;
	font-size: 80%;
	text-align:center;
	position:relative;
}

div.meteoday div.tempmin
{
	width:5.5em;
	height:1em;
	float:left;
	background:#c0ffc0;
	padding:0.25em;
	margin-top:0.5em;
	margin-left:1em;
	font-size: 80%;
	text-align:center;
	position:relative;
}

/*
 * Nouvelles de la première page
 */
div.newsappel ul li a
{
  font-size:120%;
  color:#ffffff;
}

div.newsappel ul
{
  padding:0.5em;
}

div.newsappel
{
  background: #606060;
  position:relative;
}

div.newsnotices ul
{
	list-style: none;
  margin-right:1em;
  position:relative;
  list-style-image: none;
}

div.newsnotices
{
	background: #eff7ff;
	padding:0.5em;
	padding-right:1.5em;
	margin-top:1em;
}

div.newssoon
{
	border-top: 1px solid #c0c0c0;
	padding:0.5em;
	margin-top:1em;
	position:relative;
}

div.newsnotices h2
{
	margin:0;
	border:0;
	font-size:140%;
	border-bottom:1px solid #fff;
}

div.newssoon h2
{
	margin:0;
	border:0;
	font-size:140%;
}

div.newsnottomiss
{
	border-top: 1px solid #c0c0c0;
	padding:0.5em;
	margin-top:1em;
}

div.newsnottomiss h2
{
	margin:0;
	border:0;
	font-size:140%;
}

div.newsnottomiss ul
{
	margin-top:0.5em;
	position:relative;
}

div.newsnottomiss li
{
	margin-top:0.3em;
}

div.newsnottomiss li a
{
	color:#222;
	font-weight: bold;
	font-size:110%;
}

div.newssoon ul
{
  list-style: none;
  margin-right:1em;
  list-style-image: none;
}

div.newssoon h3
{
	border-bottom: 1px dotted #808080;
	margin-top:1em;
	margin-bottom:0.5em;
	color: #336699;
	margin-left:0.5em;
	font-size:110%;
}

li.nvlitm
{
	padding:0.5em;
	position:relative;
}

li.nvlitm .nvltitre
{
	font-size:120%;
	color:#000;
	font-weight: bold;
}

li.nvlitm .hour
{
	font-size:80%;
	margin-left:0.25em;
	color:#808080;
}

li.nvlitm .hour a
{
	font-size:100%;
	color:#808080;
}

li.nvlitm .nvlresume
{
	color:#404040;
}

div.newssoon li.nvl1
{
	background:#FFF1C5;
}

div.newsnotices li.nvl1
{
	background:#fff;
}

li.nvl0 img
{
	position:relative;
	float:left;
	width:48px;
	height:48px;
	margin-right:1em;
	background:#fff;
}

/* IE n'aime pas le float right, donc float left */
li.nvl1 img
{
	position:relative;
	float:left;
	width:48px;
	height:48px;
	margin-right:1em;
	background:#fff;
}

/* Mais les vrais navigateurs float right */
html > * li.nvl1 img
{
	float:right;
	margin-right:0;
	margin-left:1em;
}

li.nvlttls .hour
{
	font-size:80%;
	color:#808080;
	margin-left:0.25em;
	
}

li.nvlttls .hour a
{
	font-size:100%;
	color:#808080;
	font-weight:normal;
}

li.nvlitm .when
{
	font-size:80%;
	margin-left:0.25em;
	color:#808080;
}

li.nvlitm .when a
{
	font-size:100%;
	font-weight:normal;
	color:#808080;
}


#sbox_body_lastnews li
{
	font-size:80%;
	color:#000;
}

#sbox_body_lastnews li a
{
	font-size:110%;
	color:#000;
}

/**
 * Boite particulière : Ma session (l'AE et moi)
 */
#disconnect
{
	margin-top:1em;
}

/*
 * Affichage des donnés des emplois du temps
 */
form#edtcts div.form table
{
	border-collapse:collapse;
	border-right: 1px #d8e7f3 solid;
	border-top: 1px #d8e7f3 solid;
	border-bottom: 1px #d8e7f3 solid;
	margin-right: auto;
	margin-left: auto;
}

form#edtcts div.form thead
{
	background: #d8e7f3;
	font-weight: bold;
}

form#edtcts div.form tbody td
{
	border-left: 1px #d8e7f3 solid;
	border-bottom: 1px #d8e7f3 solid;
	padding: 2px;
}

input.img_submit
{
	border: none;
	background: #BABBBC;
}

/*
 * Champ de selection d'un utilisateur
 */
.userfield
{
	position:relative;
  width:200px;
}

.userfield .button
{
	position:absolute;
	top:0;
	right:0;
}

.userfield .listing ul li
{
	clear:both;
	position:relative;
	height:20px;
	padding-top:10px;
}

.userfield .listing ul li div.imguser
{
	position:absolute;
	width:28px;
	height:30px;
	background:#c0c0c0;
	overflow:hidden;
	margin:1px;
	top:0px;
	right:0px;
}

.userfield .listing ul li div.imguser img
{
	width:28px;
}

.userfield .listing
{
	background:white;
	border:1px solid #c0c0c0;
	padding:5px;
}

.userfield .tree
{
	background:white;
	border:1px solid #c0c0c0;
	padding:5px;
}

.userfield .currentuser
{
	background:white;
	border:1px solid #c0c0c0;
	padding:5px;
	border-bottom:0;
}

.userfield .currentuser img
{
	width:48px;
	float:left;
	margin-right:10px;
}

.userfield .currentuser .nomprenom
{
	font-weight:bold;
}

.userfield .currentuser .surnom
{
	font-style:italic;
}

div.box div.body .userfield
{
  width:170px;
}

/*
 * Onglets particuliers : Liens en dessous des onglets
 */
div.article div.subtab
{
  padding:0;
  margin:0;
  padding-bottom:0.15em;
  margin-bottom:0.25em;
	text-align: center;
	border-bottom: 1px solid #f0f0f0;
  font-size: 11px;
}

div.article div.subtab a
{
	padding-right: 1em;
	padding-left: 1em;
	color: #000;
  font-size: 11px;
}

/*
 * Boite d'information se trouvant dans le header
 */
#important
{
  background: none;
  position: absolute;
  top: 0;
  right: 250px;
  margin: 1em 1em 0 0;
  padding: 0;
  width: 30em;
}

#important div.body
{
  -moz-border-radius:0.7em 0.7em 0.7em 0.7em;
  background-color: #d8e7f3;
	background-image: url("../../../images/info.jpg");
	background-repeat: no-repeat;
	background-position: 0.5em 50%;
	padding-left:4em;
}

/*
 * Footer : Liens en bas (legals, equipeinfo, everaldo.com)
 */
p.text-footer
{
  text-align: center;
  font-size: 11px;
}

p.text-footer a
{
  text-decoration: none;
  font-size: 11px;
}

p.text-footer a:hover
{
  font-size: 11px;
  text-decoration: none;
}

/**
 * Boite particulières
 *
 * Avertissements (pour attirer l'attention sur un élément)
 */
#sbox_alerts
{
  position: relative;
  margin-bottom: 1em;
  padding-top:0.75em;
  width: 192px;
  background: url("../images/redbox-core-alert.png");
}

#sbox_alerts h1
{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2px;
  height: 1.2em;
  font-size: 100%;
  display: inline;
  position:relative;
}

#sbox_alerts div.body
{
	border: 0;
	padding: 8px;
	position:relative;
	background-image: url("../images/redbox-bottom.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

#sbox_alerts ul
{
  margin: 0px;
  margin-top: 1em;
	margin-bottom:0;
  padding-left: 0px;
  list-style-position: inside;
	list-style-image: url("../images/list-arrow-red.png");
}

/*
 * Autres boites particulières
 */
#sbox_calendrier
{
	background-image: url("../images/box-core-calendar.png");
}

#sbox_pg
{
	background-image: url("../images/box-core-search.png");
}

#sbox_connexion
{
	background-image: url("../images/box-core-home.png");
}

#sbox_anniv
{
	background-image: url("../images/box-core-people.png");
}

#sbox_mmt
{
	background-image: url("../images/box-core-search.png");
}

#sbox_lastnews
{
	background-image: url("../images/box-core-news.png");
}

#sbox_Panier
{
	background-image: url("../images/box-core-caddie.png");
}

#systooltip
{
  background:white;
  border:1px solid black;
  padding:5px; 
}

#systooltip p.stdinfo
{
  margin:0;
  padding:0;
}

#systooltip p.stdpreview
{
  float:left;
  margin:0;
  padding:0;
  margin-right:5px; 
}

#systooltip p.stdpreview img
{
  width:48px;
}

div.board
{
   width:100%;
   position:relative;
}

div.board div.panel
{
  width:50%;
  float:left;
  position:relative;
}

div.board div.panel h2
{
  margin-left:5px;
  margin-right:5px;
}

div.board div.panel div.panelcts
{
  margin-left:5px;
  margin-right:5px;
  padding-bottom:5px;
}


div.partialclose
{
  text-align:center;  
  margin-top:40px;
  margin-bottom:70px;

}


.toolbutton
{
  background:#D8E7F3 none repeat scroll 0%;
  border:1px solid #364970;
  width: 19px;
  height: 19px;
  font-size:80%;
  cursor: pointer;
}

#hugealert
{
  background:#000000;
  color:#ffffff;
  position:absolute;
  top:0px;
  width:100%;
  padding:0;
}

#hugealert p
{
  font-size: 24px;
  color:#ffffff;
  text-align:center;
  padding:15px;
  border:5px solid red;
  margin:0;
}

#hugealert p a
{
  font-size: 24px;
  color:#ffffff;
  text-decoration:underline;
}
