@import url("/themes/default/css/site.css");

body
{
  background:black;
  text-align:center;

}

div.contents
{
  border:0;
  background:white;
  width:915px;
  margin:0;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  margin-bottom:20px;
  text-align:left;
  overflow:hidden;
}

div#logo
{
  background:#000000;
  width:915px;
  height:98px;
  padding:0;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  position:relative;
}

div#logo a
{
  position:absolute;
  font-size:40px;
  color:#FFFFFF;
  top:30px;
  left:20px;
    text-transform: lowercase;
  background:none;
  width:auto;
  height:auto;
}


div#logo a:hover
{
  text-decoration:none;
}
div.tabsv2
{
  background:#C0C0C0;
  width:915px;
  height:44px;
  padding:0;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  border:0;
}

div.tabsv2 span
{
  float:left;
  background:none;
  margin-top:8px;
  margin-left:10px;
  height:26px;
	padding-left:0px;

}


div.tabsv2 span a
{
  float:none;
  background:none;
  color:black;
  font-size:14px;
	padding-right:10px;
	padding-left:10px;
  height:26px;
	line-height:26px;
	border:0;
	margin:0;
}




div.tabsv2 span.selected
{
  background:white;

}

div.tabsv2 span.selected a
{
  background:white;
  color:black;
  border:0;
}

div.tabsv2 span:hover
{
  background:white;
}

div.tabsv2 span:hover a
{
  background:white;
  color:black;
  border:0;
}


div.emptysectionlinks
{
  padding:0;
}

#left
{
  width:195px;
  float:left;
  position:relative;
  top:0;
  left:10px;
}

#right
{
  width:202px;
  float:right;
  position:relative;
  top:0px;
  right:5px;
  margin-top:5px;
}

div.article
{
  border:0;
  margin-top:1em;
  padding:0;
}

div.article h1
{
  margin-top: 0;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
  font-size: 150%;
  border-bottom: 1px black solid;
}

div.article h2
{
  font-size: 130%;
  padding-bottom: 0.2em;
  border-bottom: 1px #c0c0c0 solid;
  margin-bottom: 1em;
  margin-top: 2em;
}

div.article h3
{
  font-size: 110%;
  border-bottom: 1px #c0c0c0 solid;
  margin-bottom: 1em;
  margin-top: 2em;
}

div.article p
{
  text-align: justify;
  margin: 0;
  padding: 0;

  margin-bottom: 1em;
  margin-top: 1em;
}


div.article.anews h1
{
  font-size: 130%;
  padding-bottom: 0.2em;
  border-bottom: 1px #c0c0c0 solid;
  margin-bottom: 1em;
  margin-top: 2em;
  clear:both;
}

p.footer
{
  margin-top:2em;
  padding-bottom:2em;
  font-size:10px;
  color:#c0c0c0;
  text-align:center;
  clear:both;
}

p.footer a
{
  font-size:10px;
  color:#c0c0c0;
}

div.page
{
  margin: 0;
  width:880px;
  float:left;
  position:relative;
  left:25px;
}

div.page#n
{
  margin: 0;
}

div.page#lr
{
  margin: 0;
  width:675px;
  float:left;
}

div.page#r
{
  margin: 0;
  width:675px;
  float:left;
}

div.page#l
{
  margin: 0;
  width:470px;
  float:left;
}

#sasimg
{
  width:600px;
}

#sasimg img
{
  width:600px;
}

#photoinfo
{
  width:250px;
}

/**
 * Gestion css blog
 */
div.blogcts
{
  padding-bottom:30px;
}
div.blog
{
  font-size:14px;
}
div.blog a
{
  font-size:14px;
}
ul.blogcatlist
{
  margin: 0px;
  padding: 0 5;
  height:35px;
  width:100%;
  background-color:#000000;
}
ul.blogcatlist li
{
  display: block;
  margin: 5px 1em 5px 0;
  padding: 0px;
  float: left;
}
ul.blogcatlist li a
{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 25px;
  margin: 0 5px;
  padding: 0 20px;
  font-weight: bold;
}
li.blogcatselected, ul.blogcatlist li:hover, ul.blogcatlist li:hover a, ul.blogcatlist li.blogcatselected a
{
  background-color:#333333;
  color:#ffffff;
}
li.blogcatlist0
{
}
li.blogcatlist1
{
}
div.blogentrypubdate
{
  float:left;
}
div.blogentryauthor
{
  float:right;

}
div.blogentryintro
{
  margin-top:40px;
  font-size:14px;
}
div.blogentrycontent
{
  margin-top:10px;
}
div.blogentryreadmore
{
  display:block;
  width:150px;
  margin:auto;
  margin-top:30px;
  font-size:14px;
  font-weight:bold;
}
div.blognavbottom
{
  margin:0 20 0 0;
}
div.blognavtop
{
  margin:0 20 0 0;
}
div.blognavtop a, div.blognavbottom a
{
  color: #bfa57f;
  display: block;
  float: left;
  text-decoration: none;
  text-transform: lowercase;
  font-size:17px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: bold;
  height: 29px;
  padding: 3px 0px 0px 40px;
}
div.blognext
{
  float:right;
}
div.blogprevious
{
  float:left;
}
div.blogcomments
{
  border:1px dotted;
}
div.blogcomment0
{
}
div.blogcomment1
{
}
